.login-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-box {
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 350px;
  color: #fff;
  text-align: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  animation: slideIn 1s ease;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.input-field {
  width: 100%;
  padding: 12px 15px 12px 40px; /* Left padding to make space for icon */
  margin-bottom: 15px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.9);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px 20px;
  font-size: 15px;
  color: #333;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transition: 0.3s ease;
}

.input-field::placeholder {
  color: #777;
}

.input-field:focus {
  background: #fff;
  box-shadow: 0 0 10px #00ffcc;
}

textarea.input-field {
  resize: vertical;
  min-height: 60px;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s;
}

.login-btn {
  background: linear-gradient(45deg, #00c6ff, #0072ff);
  color: #fff;
}

.register-btn {
  background: linear-gradient(45deg, #ff4b2b, #ff416c);
  color: #fff;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.login-link {
  color: #00c6ff;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
}
